{{ if .Teaching }}
<div id="teaching" class="section">
    <div class="section__heading">
        <h2 class="section__title">{{ i18n "teaching" }}</h2>
    </div>
    <div class="section__content">
        <div class="teaching">
            {{ range .Teaching }}
            {{ if .Class }}
            <div class="teaching__item {{ .Class }}">
            {{ else }}
            <div class="teaching__item">
            {{ end }}
                <div class="teaching__header">
                    <h3 class="teaching__company">
                      {{ .Course | safeHTML }}, {{ .Date | safeHTML }}
                    </h3>
                    <h3 class="teaching__place">{{ .Institution | safeHTML }}</h3>
                </div>
                <div class="teaching__badges">
                  <ul>
                    {{ range .Badges }}
                    <li class="teaching__badge">{{ . }}</li>
                    {{ end }}
                  </ul>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</div>
{{ end }}
