.interests {
    &__item {
        display: table;
        width: 100%;
    }
    
    &__category,
    &__details {
        display: table-cell;
        width: 50%;
    }
    &__details {
        text-align: right;
    }    
}
