.references {
    &__item {
        display: inline-block;
        width: 100%;
        @include avoid-break;
        &:not(:first-child) {
            padding-top: 1.5rem;
        }
    }

    &__header,
    &__subheader {
        display: block;
        width: 100%;
    }

    &__subheader {
        margin-bottom: 0.5rem;
    }

    &__person {
        position: relative;
        transition: transform 0.2s cubic-bezier($cubic);

        // &:hover {
        //     transform: translateX(0.5rem);
        // }
    }

    &__name,
    &__relation {
        text-align: left;
        width: 100%;
        color: $color-dark;
    }

    &__contact {
        position: relative;
        font-size: 1rem;
        display: flex;
        align-items: flex-start;
        margin-bottom: 0.5rem;

        & > i {
            background-color: $color-icon-background;
            color: $color-icon-primary;
            font-size: 1rem;
            text-align: center;
            border-radius: 50%;
            padding-top: 0.5rem;
            width: 2rem;
            height: 2rem;
            margin-right: 0.5rem;
            flex-shrink: 0;
        }
        & > span {
            flex: 1;
            line-height: 1.3rem;
            word-wrap: break-word;
            overflow-wrap: break-word;
            hyphens: auto;
        }
    }

    & li {
        list-style: none;
    }
}
